body {
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    


}
.navbar-brand {
    color: rgb(224, 99, 15);
}

#pirmas {
    
}
#antras {
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/2.jpg');
}
#ketvirtas {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/boris-campistron-gul-dan.jpg');
}